
<nav>
      <a href="/admin" class="imgContenedor">  <img src="/assets/logo/logo2.png" alt="Logo"></a>
        <input type="text" placeholder="Buscar">
        <button type="submit">Buscar</button>
        <ul> 
          <li><a href="/admin">INICIO</a></li>
          <li><a href="/admin/peliculas">PELICULAS</a></li>
          <li><a href="/admin/series">SERIES</a></li>
          <li><a href="/admin/categoria">CATEGORIAS</a></li>
          <li><a href="/admin/perfil">PERFIL</a></li>
      </ul> 
      </nav>