<nav>
       <a href="/user" class="imgContenedor">  <img src="/assets/logo/logo2.png" alt="Logo"></a>
        <input type="text" placeholder="Buscar">
        <button type="submit">Buscar</button>
        <ul> 
          <li><a href="/user">INICIO</a></li>
          <li><a href="/user/peliculas">PELICULAS</a></li>
          <li><a href="/user/series">SERIES</a></li>
          <li><a href="/user/categoria">CATEGORIAS</a></li>
          <li><a href="/user/perfil">PERFIL</a></li>
      </ul> 
      </nav>

    {{!-- Ejemplo de motores de plantillas en EJS --}}
    {{!-- 
        <% include partials/navegacion %>
        <%if login {  %>
            <h1>Este es el Inicio</h1>
        <% } else { %>
            <h1>Este es el Inicio sin Login</h1>
        <% } %> 
    --}}

