     
     
      {{> navegacion}}


       <h1>Categorías</h1>
        <section> 
          <h3>Seguir viendo</h3>

          <ul class="categorias"> 
    <li>
      <div class="categoria">  
        <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
        <figcaption> serie </figcaption>
      </div> 
      </li>
      <li>
        <div class="categoria">  
          <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película ">
          <figcaption> pelicula </figcaption>
        </div>  
      </li>
      <li>
        <div class="categoria">  
          <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
          <figcaption> serie </figcaption>
        </div> 
        </li>
        <li>
          <div class="categoria">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película ">
            <figcaption> pelicula </figcaption>
          </div>  
        </li>
    </ul>  
      <h3>Películas que te recomendamos</h3>
      <ul class="categorias"> 

        <li>
          <div class="categoria">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película ">
            <figcaption> pelicula </figcaption>
          </div>  
        </li>
        <li>
          <div class="categoria">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película ">
            <figcaption> pelicula </figcaption>
          </div>  
        </li>
      <li>
        <div class="categoria">  
          <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película ">
          <figcaption> pelicula </figcaption>
        </div>  
      </li>
    </ul>  
      <h3>Series que pensamos que te gustarían</h3>
      <ul class="categorias"> 
   
        <li>
          <div class="categoria">  
            <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
            <figcaption> serie </figcaption>
          </div> 
          </li>
      <li>
        <div class="categoria">  
          <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
          <figcaption> serie </figcaption>
        </div> 
        </li>
        <li>
          <div class="categoria">  
            <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
            <figcaption> serie </figcaption>
          </div> 
          </li>
      
    </ul>  
      <h3>Cine de acción y aventuras</h3>
      <ul class="categorias"> 
    
        <li>
          <div class="categoria">  
            <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
            <figcaption> serie </figcaption>
          </div> 
          </li>
          <li>
            <div class="categoria">  
              <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película">
              <figcaption> pelicula </figcaption>
            </div>  
          </li>
      <li>
        <div class="categoria">  
          <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series">
          <figcaption> serie </figcaption>
        </div> 
        </li>
        <li>
          <div class="categoria">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película">
            <figcaption> pelicula </figcaption>
          </div>  
        </li>
    </ul>  
    
    </section> 

    {{> footer  }}