 <section class="pelicula1">  
       <ul>

      <li>
        <div class="caja">  
        <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 1">
        <figcaption> pelicula 1</figcaption>
  
      </div>  
      </li>
      <li>
        <div>  
          <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 2">
          <figcaption> pelicula 2</figcaption>
    
        </div>  
      </li>
      <li>
        <div>  
          <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 3">
          <figcaption> pelicula 3</figcaption>
    
        </div>  
      </li>
      <li>
        <div>  
          <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 4">
          <figcaption> pelicula 4</figcaption>
        </div>  
      </li>
    </ul>  
    </section>
    <section class="pelicula2"> 
      <ul> 
      <li>
        <div>  
        <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series1">
        <figcaption> serie 1</figcaption>
      </div> 
      </li>
      <li>
        <div>  
        <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series2">
        <figcaption> serie 2</figcaption>
      </div> 
      </li>
      <li>
        <div>  
        <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series3">
        <figcaption> serie 3</figcaption>
      </div> 
      </li>
      <li>
        <div>  
        <img src="https://cdn-icons-png.flaticon.com/512/6553/6553523.png" alt="series4">
        <figcaption> serie 4</figcaption>
      </div> 
      </li>
    </ul>
  </section>  