
    {{> navAdmin}}

  <h1>Películas</h1>
      <ul>
        <li>
          <div class="peliculayserie">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 1">
            <figcaption> pelicula 1</figcaption>
      
          </div>  
        </li>
        <li>
          <div class="peliculayserie">  
            <img src="https://www.exoticca.com/es/blog/wp-content/uploads/2019/01/Peli%CC%81culas-que-inspiran-a-viajar-_-De%CC%81jate-llevar-por-la-magia-del-cine-800x360.png" alt="Película 2">
            <figcaption> pelicula 2</figcaption>
      
          </div>  
        </li>
        
      </ul>

      {{> footerAdmin}}