

 {{> navegacion }}

 {{> home }}

 {{> footer }}





{{!-- 
<div class="container text-center mt-5">
        <h2>Nómina de Usuarios de la Aplicación</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="miTabla">
                <tr>
                    <td>
                        Pepe
                    </td>
                    <td>
                        pepe@gmail.com
                    </td>
                </tr>
        
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        Cantidad de Usuarios: 
                    </td>
                    <td id="totalProductos">
                        
                    </td>
                </tr>
            </tfoot>
        </table>
</div> --}}